@font-face {
  font-family: Monteserrat Bold;
  src: url(desafio2Materias/fontes/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat Medium;
  src: url(desafio2Materias/fontes/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Monteserrat SemiBold;
  src: url(desafio2Materias/fontes/Montserrat-SemiBold.ttf);
}

/*Variáveis*/
:root {
  --bgSite: #f6f6f6;
  --bgCard: #ebe9ea;

  --white: #fff;

  --title: #181818;
  --text: #474747;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.promocao {
  background: black;
  height: 3.75rem;
  color:#fff; 
  text-align: center;              
}

p {
  padding: 0.9375rem 3.5625rem 0.875rem 3.625rem;
}

.nome {
  color:black;
  background: #fff;
}

title-h1 {
  background: #ebe9ea;
}

img {

}

