@font-face {
  font-family: Montserrat-Bold;
  src: url(desafio2Materias/fontes/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(desafio2Materias/fontes/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(desafio2Materias/fontes/Montserrat-SemiBold.ttf);
}

/*Variáveis*/
:root {
  --bgSite: #f6f6f6;
  --bgCard: #ebe9ea;

  --white: #fff;

  --title: #181818;
  --text: #474747;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.promotion {
  background: black;
  height: 3.75rem;
  color:#fff; 
  text-align: center;
  
  font-family: Montserrat-Medium;
}


.name {
  color:black;
  background: #fff;

  font-family: Montserrat-SemiBold;
  height: 3.75rem;
  text-align: center;
}

.box-header {
  background-image: url(desafio2Materias/img/wallpaper.jpeg);

}


