@font-face {
  font-family: Montserrat-Bold;
  src: url(desafio2Materias/fontes/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(desafio2Materias/fontes/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(desafio2Materias/fontes/Montserrat-SemiBold.ttf);
}

/*Variáveis*/
:root {
  --bgSite: #f6f6f6;
  --bgCard: #ebe9ea;

  --white: #fff;

  --title: #181818;
  --text: #474747;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.promotion {
  background: black;
  color:#fff; 
  
  font-family: Montserrat-Medium;

  text-align: center;
  padding: 0.9375rem 3.5625rem 0.875rem 3.625rem;
}


.name {
  color:black;
  background: #fff;

  font-family: Montserrat-SemiBold;
  text-align: center;

  padding: 0.375rem 7.6875rem 0.4375rem 7.75rem;
}

.box-header {
  background-image: url(desafio2Materias/img/wallpaper.jpeg);
  height: 25.875rem;

  color: var(--white);

  text-align: center;

}


h2 {
  font-family: Montserrat-SemiBold;
  text-align: center;
}

p {
  font-family: Montserrat-Medium;
}

footer {
  background: black;
  color: var(--white);
  font-family: Montserrat-Medium;
  text-align: center;
}