/*Variáveis*/
:root {
    --bgSite: #d7d4ff;
    --buttonColor: #6c63ff;
  
    --white: #ffffff;
    --white300: #f9f9f9;
  
    --title: #2b2b2b;
    --text: #555555;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background: #9c63ff;
}

main {
    background: var(--white300);
}

footer {
    background: #9b63ff;
}