/* ========== RESET ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --blue: #3EA1DB;
  --blue-dark: #574AE8;
  --white: #FFF;

  --title: #313131;
  --text: #B6B6B6;
  
  --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}

/* === BASE === */
.header{
  background: var(--linear);

  color: var(--white);

  display: flex;
  /*Horizontamente*/
  justify-content: space-between;

  /* Verticalmente */
  align-items: center;
}

.card {
  background:var(--blue);

  margin: 3.125rem 1.25rem 1.5625rem 1.25rem;
}

.card .title-h2 {
  color: red;
}

.card .date {
  color: var(--text);
}

.card .conteudo{
  color: chartreuse;
}