* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid red;
}

body {
  /* margin-bottom: 41px;
  margin-left: 270px;
  margin-right: 270px; */
  background: #d7d7d7;
}

header {
  background: linear-gradient(88.27deg, #574ae8 0%, #3ea1db 100%);
  padding: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background: #574ae8;
}

.box-input {
  background: chartreuse;
}

input {
  display: grid;
  grid-template-columns: 1 / -1;
}

/* h1,
h2 {
  color: #fff;
} */

/* input {
  all: unset;

  grid-template-columns: 1 / -1;
  grid-template-rows: 1 / -1;

  color: #fff;
} */
