@font-face {
  font-family: Inter-Medium;
  src: url(/desafio1/desafio1/fontes/Inter-Medium.ttf)
}

@font-face {
  font-family: Inter-Regular;
  src: url(/desafio1/desafio1/fontes/Inter-Regular.ttf);
}

@font-face {
  font-family: LexendDeca-Regular;
  src: url(/desafio1/desafio1/fontes/LexendDeca-Regular.ttf);
}

/* ========== RESET ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --blue: #3EA1DB;
  --blue-dark: #574AE8;
  --white: #FFF;

  --title: #313131;
  --text: #B6B6B6;
  
  --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}

/* === BASE === */
.body {
  background: #F3F5F7;
}

.header{
  background: var(--linear);
  height: 12.5rem;
}

.header .section {
  padding: 3rem 1.25rem;
}

.header .container-h1 {
  color: var(--white);
  font-family: Inter-Regular;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .input {
  padding: 4rem 1.25rem 4rem 1.25rem;
}

.card {
  background:var(--white);

  margin: 3.125rem 1.25rem 1.5625rem 1.25rem;

  box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);

  border-radius: 0.625rem;
}

.card .date-icon {
  display: flex;
  justify-content: space-between;

  padding: 1rem 0.9375rem 1.6875rem 0.9375rem;
}

.card .date {
  color: var(--text);
  font-family: Inter-Regular;

  font-size: 0.875rem;
}

.card .title-h2 {
  color: var(--title);
  font-family: LexendDeca-Regular;

  font-size: 1.125rem;
  padding: 1.6875rem 1rem 0.5625rem 1rem;
}

.card .conteudo{
  color: var(--text);
  font-family: Inter-Regular;

  font-size: 0.875rem;

  padding: 0.5625rem 0.75rem 0.9375rem 1.0625rem;
}